@import "tailwindcss";

@theme {
  --color-brand-50: #eef5fb;
  --color-brand-100: #ddebf7;
  --color-brand-300: #a7c7de;
  --color-brand-500: #5e94be;
  --color-brand-600: #4f84ad;
  --color-brand-700: #3f6f90;
  --color-brand-900: #1d2a35;
}

@media (max-width: 400px) {
  .text-4xl {
    font-size: 1.85rem;
  }
}

